name: Project Automations

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "*/10 * * * *"

jobs:
  update-project:
    name: Update project
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: yarn install
      - run: yarn start
